In [1]:
import pandas as pd

In [6]:
fortune = pd.read_csv('Codes/fortune1000.csv', index_col='Rank')
sectors = fortune.groupby(by='Sector')
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

# The .groupby() Method

In [7]:
fortune = pd.read_csv('Codes/fortune1000.csv', index_col='Rank')
sectors = fortune.groupby(by='Sector')
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [8]:
len(sectors)

21

In [9]:
fortune['Sector'].nunique()

21

In [10]:
sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [11]:
fortune['Sector'].value_counts()

Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Materials                        43
Food, Beverages & Tobacco        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Media                            25
Hotels, Resturants & Leisure     25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Food and Drug Stores             15
Apparel                          15
Telecommunications               15
Name: Sector, dtype: int64

In [13]:
# gives first row from each grouping
sectors.first()
# gives last row from each grouping
sectors.last()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,Fred’s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",Wendy’s,Food Services,"Dublin, OH",1896,161,21200
Household Products,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

In [15]:
# returns index labels of each group
sectors.groups

{'Aerospace & Defense': Int64Index([ 24,  45,  60,  88, 118, 120, 209, 245, 282, 378, 389, 490, 560,
             605, 785, 788, 836, 903, 958, 987],
            dtype='int64', name='Rank'),
 'Apparel': Int64Index([91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877,
             882, 917],
            dtype='int64', name='Rank'),
 'Business Services': Int64Index([144, 186, 199, 204, 221, 248, 249, 294, 307, 312, 355, 392, 404,
             440, 467, 468, 481, 485, 492, 503, 545, 626, 635, 652, 677, 694,
             714, 729, 734, 735, 737, 744, 767, 776, 777, 783, 791, 792, 796,
             801, 803, 816, 819, 820, 869, 870, 886, 939, 951, 952, 993],
            dtype='int64', name='Rank'),
 'Chemicals': Int64Index([ 56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549,
             555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829,
             865, 898, 934, 949],
            dtype='int64', name='Rank'),
 'Energy': Int64Index([  2,  14,  30,  32,  42,  65,  90,  95,  98, 104,
             ...
             953, 955, 962, 966, 980, 981, 983, 995, 997, 997],
            dtype='int64', name='Rank', length=122),
 'Engineering & Construction': Int64Index([155, 156, 235, 260, 301, 314, 352, 381, 433, 478, 498, 501, 516,
             572, 576, 640, 719, 738, 822, 863, 874, 892, 929, 963, 985, 994],
            dtype='int64', name='Rank'),
 'Financials': Int64Index([  4,  16,  23,  26,  27,  29,  35,  40,  43,  49,
             ...
             920, 923, 925, 926, 936, 938, 959, 976, 988, 996],
            dtype='int64', name='Rank', length=139),
 'Food and Drug Stores': Int64Index([7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849,
             928],
            dtype='int64', name='Rank'),
 'Food, Beverages & Tobacco': Int64Index([ 41,  44,  62,  66,  84,  94, 106, 149, 153, 161, 176, 207, 215,
             242, 266, 304, 336, 337, 362, 397, 413, 429, 452, 456, 460, 535,
             542, 567, 574, 587, 608, 615, 636, 664, 686, 702, 770, 787, 795,
             804, 889, 902, 954],
            dtype='int64', name='Rank'),
 'Health Care': Int64Index([  5,   6,  12,  21,  22,  33,  39,  46,  52,  55,  63,  72,  79,
              86, 123, 124, 125, 130, 138, 140, 141, 168, 172, 200, 201, 202,
             263, 268, 278, 286, 287, 290, 291, 305, 325, 358, 359, 372, 420,
             430, 431, 447, 457, 465, 469, 515, 527, 537, 553, 559, 583, 618,
             629, 661, 684, 693, 697, 708, 746, 749, 766, 775, 790, 799, 815,
             818, 845, 868, 881, 883, 935, 960, 965, 977, 978],
            dtype='int64', name='Rank'),
 'Hotels, Resturants & Leisure': Int64Index([109, 146, 195, 218, 241, 254, 309, 371, 444, 466, 534, 546, 557,
             562, 585, 731, 763, 764, 779, 797, 895, 915, 918, 941, 999],
            dtype='int64', name='Rank'),
 'Household Products': Int64Index([ 34, 151, 174, 256, 261, 328, 338, 345, 370, 434, 441, 450, 455,
             533, 550, 554, 601, 665, 699, 716, 856, 890, 900, 907, 932, 950,
             967, 992],
            dtype='int64', name='Rank'),
 'Industrials': Int64Index([  11,   59,   75,   93,   97,  128,  134,  148,  211,  224,  360,
              377,  396,  412,  419,  539,  544,  596,  622,  623,  630,  645,
              655,  658,  666,  674,  690,  757,  782,  789,  806,  813,  823,
              831,  832,  835,  841,  847,  866,  867,  873,  887,  942,  947,
              964, 1000],
            dtype='int64', name='Rank'),
 'Materials': Int64Index([126, 127, 170, 244, 251, 303, 321, 341, 356, 373, 375, 383, 417,
             418, 426, 435, 446, 480, 489, 514, 518, 577, 586, 616, 617, 620,
             625, 628, 637, 639, 641, 660, 667, 687, 691, 751, 774, 793, 857,
             885, 911, 982, 986],
            dtype='int64', name='Rank'),
 'Media': Int64Index([ 53,  96,  99, 203, 213, 255, 327, 366, 406, 414, 525, 530, 681,
             705, 707, 722, 741, 752, 759, 762, 821, 913, 968, 969, 989],
            dtype='int64', name='Rank'),
 'Motor Vehicles & Parts': Int64Index([  8,   9,  70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470,
             588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979],
            dtype='int64', name='Rank'),
 'Retailing': Int64Index([  1,  15,  28,  38,  47,  71,  89, 103, 111, 132, 136, 139, 143,
             145, 177, 180, 191, 196, 197, 228, 234, 237, 238, 240, 258, 267,
             269, 280, 293, 297, 299, 302, 330, 342, 346, 361, 365, 374, 379,
             380, 393, 415, 427, 439, 495, 500, 502, 511, 512, 517, 523, 582,
             592, 602, 607, 610, 621, 643, 644, 648, 657, 675, 689, 721, 748,
             771, 773, 807, 812, 824, 825, 827, 840, 876, 894, 899, 922, 937,
             940, 973],
            dtype='int64', name='Rank'),
 'Technology': Int64Index([  3,  18,  20,  25,  31,  36,  51,  54,  77, 110,
             ...
             931, 943, 944, 946, 956, 970, 971, 975, 984, 990],
            dtype='int64', name='Rank', length=102),
 'Telecommunications': Int64Index([10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619,
             786],
            dtype='int64', name='Rank'),
 'Transportation': Int64Index([ 48,  58,  67,  68,  80, 129, 142, 208, 239, 270, 353, 390, 395,
             405, 407, 416, 432, 459, 521, 528, 570, 578, 642, 672, 709, 713,
             740, 800, 814, 858, 884, 930, 933, 945, 972, 974],
            dtype='int64', name='Rank'),
 'Wholesalers': Int64Index([ 57,  64,  92, 102, 108, 119, 122, 167, 183, 185, 212, 276, 285,
             315, 317, 320, 323, 335, 351, 357, 369, 391, 423, 463, 474, 477,
             484, 564, 581, 599, 627, 653, 685, 727, 747, 780, 808, 837, 875,
             991],
            dtype='int64', name='Rank')}

# Retrieve a Group with the .get_group() Method

In [16]:
fortune = pd.read_csv('Codes/fortune1000.csv', index_col='Rank')
sectors = fortune.groupby(by='Sector')
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [18]:
sectors.get_group('Energy')
sectors.get_group('Technology')

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
18,Amazon.com,Technology,Internet Services and Retailing,"Seattle, WA",107006,596,230800
20,HP,Technology,"Computers, Office Equipment","Palo Alto, CA",103355,4554,287000
25,Microsoft,Technology,Computer Software,"Redmond, WA",93580,12193,118000
31,IBM,Technology,Information Technology Services,"Armonk, NY",82461,13190,411798
36,Alphabet,Technology,Internet Services and Retailing,"Mountain View, CA",74989,16348,61814
51,Intel,Technology,Semiconductors and Other Electronic Components,"Santa Clara, CA",55355,11420,107300
54,Cisco Systems,Technology,Network and Other Communications Equipment,"San Jose, CA",49161,8981,71833
77,Oracle,Technology,Computer Software,"Redwood City, CA",38226,9938,132000
110,Qualcomm,Technology,Network and Other Communications Equipment,"San Diego, CA",25281,5271,33000
113,EMC,Technology,Computer Peripherals,"Hopkinton, MA",24704,1990,72000
133,Danaher,Technology,"Scientific,Photographic and Control Equipment","Washington, DC",20909,3357,81000
150,Xerox,Technology,Information Technology Services,"Norwalk, CT",18664,474,143600
157,Facebook,Technology,Internet Services and Retailing,"Menlo Park, CA",17928,3688,12691
158,Jabil Circuit,Technology,Semiconductors and Other Electronic Components,"St. Petersburg, FL",17914,284,161000
164,Thermo Fisher Scientific,Technology,"Scientific,Photographic and Control Equipment","Waltham, MA",16965,1975,52400
173,Micron Technology,Technology,Semiconductors and Other Electronic Components,"Boise, ID",16192,2899,31800
194,Western Digital,Technology,Computer Peripherals,"Irvine, CA",14572,1465,76449
219,Texas Instruments,Technology,Semiconductors and Other Electronic Components,"Dallas, TX",13000,2986,29977
220,CDW,Technology,Information Technology Services,"Lincolnshire, IL",12989,403,8465
230,Cognizant Technology Solutions,Technology,Information Technology Services,"Teaneck, NJ",12416,1624,221700
233,Computer Sciences,Technology,Information Technology Services,"Falls Church, VA",12183,-8,70000
284,Liberty Interactive,Technology,Internet Services and Retailing,"Englewood, CO",9989,869,22080
295,Applied Materials,Technology,Semiconductors and Other Electronic Components,"Santa Clara, CA",9659,1377,15050
300,eBay,Technology,Internet Services and Retailing,"San Jose, CA",9496,1725,11600
308,Priceline Group,Technology,Internet Services and Retailing,"Norwalk, CT",9224,2551,15500
313,Corning,Technology,Network and Other Communications Equipment,"Corning, NY",9111,1339,35700
331,Broadcom,Technology,Semiconductors and Other Electronic Components,"Irvine, CA",8394,978,9950
385,Expedia,Technology,Internet Services and Retailing,"Bellevue, WA",6672,765,18730
386,salesforce.com,Technology,Computer Software,"San Francisco, CA",6667,-47,19742
...,...,...,...,...,...,...,...
778,Diebold,Technology,"Computers, Office Equipment","North Canton, OH",2768,74,16000
805,Plexus,Technology,Semiconductors and Other Electronic Components,"Neenah, WI",2654,94,14000
830,Benchmark Electronics,Technology,Semiconductors and Other Electronic Components,"Angleton, TX",2541,95,10500
834,Teradata,Technology,Computer Software,"Dayton, OH",2530,-214,11300
842,Autodesk,Technology,Computer Software,"San Rafael, CA",2504,-331,9500
854,Ciena,Technology,Network and Other Communications Equipment,"Hanover, MD",2446,12,5345
864,Mettler-Toledo International,Technology,"Scientific,Photographic and Control Equipment","Columbus, OH",2395,353,13000
871,Xilinx,Technology,Semiconductors and Other Electronic Components,"San Jose, CA",2377,648,3451
888,Maxim Integrated Products,Technology,Semiconductors and Other Electronic Components,"San Jose, CA",2307,206,8250
891,Vishay Intertechnology,Technology,Semiconductors and Other Electronic Components,"Malvern, PA",2301,-109,22400
893,Teledyne Technologies,Technology,"Scientific,Photographic and Control Equipment","Thousand Oaks, CA",2298,196,9200
896,Trimble Navigation,Technology,"Scientific,Photographic and Control Equipment","Sunnyvale, CA",2290,121,8451
904,Brocade Communications Systems,Technology,Network and Other Communications Equipment,"San Jose, CA",2264,340,4640
905,PerkinElmer,Technology,"Scientific,Photographic and Control Equipment","Waltham, MA",2263,212,8000
906,Wayfair,Technology,Internet Services and Retailing,"Boston, MA",2250,-77,3809
909,Synopsys,Technology,Computer Software,"Mountain View, CA",2242,226,10284
912,Illumina,Technology,"Scientific,Photographic and Control Equipment","San Diego, CA",2220,462,4600
914,Twitter,Technology,Internet Services and Retailing,"San Francisco, CA",2218,-521,3898
919,Akamai Technologies,Technology,Computer Software,"Cambridge, MA",2197,321,6084
927,Gartner,Technology,Information Technology Services,"Stamford, CT",2163,176,7834
931,Microchip Technology,Technology,Semiconductors and Other Electronic Components,"Chandler, AZ",2147,369,9449
943,Maximus,Technology,Information Technology Services,"Reston, VA",2100,158,17000
944,TTM Technologies,Technology,Semiconductors and Other Electronic Components,"Costa Mesa, CA",2096,-26,29570
946,Engility Holdings,Technology,Information Technology Services,"Chantilly, VA",2086,-235,9800
956,Waters,Technology,"Scientific,Photographic and Control Equipment","Milford, MA",2042,469,6594
970,Rackspace Hosting,Technology,Internet Services and Retailing,"San Antonio, TX",2001,126,6189
971,VeriFone Systems,Technology,"Computers, Office Equipment","San Jose, CA",2001,79,5400
975,Super Micro Computer,Technology,"Computers, Office Equipment","San Jose, CA",1991,102,2285
984,Nuance Communications,Technology,Computer Software,"Burlington, MA",1931,-115,13500
990,F5 Networks,Technology,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178

# Methods on the GroupBy object and DataFrame Columns

In [19]:
fortune = pd.read_csv('Codes/fortune1000.csv', index_col='Rank')
sectors = fortune.groupby(by='Sector')
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [23]:
# returns max value from left-most column
sectors.max()
# returns min value from left-most column
sectors.min()
# only works on numeric columns
sectors.sum()
sectors.mean()

                                   Revenue      Profits     Employees
Sector
Aerospace & Defense           17897.000000  1437.100000  48402.850000
Apparel                        6397.866667   549.066667  23093.133333
Business Services              5337.156863   553.470588  26687.254902
Chemicals                      8129.900000   754.266667  15455.033333
Energy                        12441.057377  -602.024590   9745.303279
Engineering & Construction     5922.423077   204.000000  15642.615385
Financials                    15950.784173  1872.007194  24172.287770
Food and Drug Stores          32251.266667  1117.266667  93026.533333
Food, Beverages & Tobacco     12929.465116  1195.744186  28177.488372
Health Care                   21529.426667  1414.853333  35710.520000
Hotels, Resturants & Leisure   6781.840000   827.880000  99369.800000
Household Products             8383.464286   515.285714  23072.785714
Industrials                   10816.978261   451.391304  33591.934783
Materials                      6026.627907   102.976744  14840.069767
Media                          8830.560000   973.880000  22012.560000
Motor Vehicles & Parts        20105.833333  1079.083333  45106.666667
Retailing                     18313.450000   597.875000  77845.362500
Technology                    13505.882353  1769.343137  35087.735294
Telecommunications            30788.933333  3242.466667  55497.866667
Transportation                11347.444444  1226.916667  42688.694444
Wholesalers                   11120.000000   205.825000  13139.925000

In [26]:
sectors['Revenue'].sum()
sectors['Profits'].min()
sectors[['Revenue', 'Profits']].sum()

                              Revenue  Profits
Sector
Aerospace & Defense            357940    28742
Apparel                         95968     8236
Business Services              272195    28227
Chemicals                      243897    22628
Energy                        1517809   -73447
Engineering & Construction     153983     5304
Financials                    2217159   260209
Food and Drug Stores           483769    16759
Food, Beverages & Tobacco      555967    51417
Health Care                   1614707   106114
Hotels, Resturants & Leisure   169546    20697
Household Products             234737    14428
Industrials                    497581    20764
Materials                      259145     4428
Media                          220764    24347
Motor Vehicles & Parts         482540    25898
Retailing                     1465076    47830
Technology                    1377600   180473
Telecommunications             461834    48637
Transportation                 408508    44169
Wholesalers                    444800     8233

# Grouping by Multiple Columns

In [28]:
fortune = pd.read_csv('Codes/fortune1000.csv', index_col='Rank')
sectors = fortune.groupby(by=['Sector', 'Industry'])
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [31]:
sectors.size()
sectors.sum()

                                                                           Revenue  \
Sector                     Industry
Aerospace & Defense        Aerospace and Defense                            357940
Apparel                    Apparel                                           95968
Business Services          Advertising, marketing                            22748
                           Diversified Outsourcing Services                  64829
                           Education                                          7485
                           Financial Data Services                          100778
                           Miscellaneous                                     11185
                           Temporary Help                                    34716
                           Waste Management                                  30454
Chemicals                  Chemicals                                        243897
Energy                     Energy                                            67749
                           Mining, Crude-Oil Production                     176435
                           Miscellaneous                                      3159
                           Oil and Gas Equipment, Services                   82827
                           Petroleum Refining                               705472
                           Pipelines                                        138756
                           Utilities: Gas and Electric                      343411
Engineering & Construction Engineering, Construction                         99774
                           Homebuilders                                      54209
Financials                 Commercial Banks                                 623669
                           Diversified Financials                           327075
                           Insurance: Life, Health (Mutual)                 181336
                           Insurance: Life, Health (stock)                  245551
                           Insurance: Property and Casualty (Mutual)        143682
                           Insurance: Property and Casualty (Stock)         548027
                           Real estate                                       62748
                           Securities                                        85071
Food and Drug Stores       Food and Drug Stores                             483769
Food, Beverages & Tobacco  Beverages                                         79396
                           Food Consumer Products                           238954
...                                                                            ...
Materials                  Metals                                            99925
                           Miscellaneous                                      6070
                           Packaging, Containers                            105965
Media                      Entertainment                                    186276
                           Publishing, Printing                              34488
Motor Vehicles & Parts     Motor Vehicles and Parts                         482540
Retailing                  Automotive Retailing, Services                   113823
                           General Merchandisers                            684320
                           Specialty Retailers: Apparel                     122975
                           Specialty Retailers: Other                       543958
Technology                 Computer Peripherals                              48950
                           Computer Software                                179112
                           Computers, Office Equipment                      353781
                           Information Technology Services                  166067
                           Internet Services and Retailing                  259136
                           Network and Other Communications Equipment       125697
                           Scientific,Photographic and Control Equipment     65832
                           Semiconductors and Other Electronic Components   179025
Telecommunications         Telecommunications                               461834
Transportation             Airlines                                         158948
                           Mail, Package, and Freight Delivery              105816
                           Miscellaneous                                      2148
                           Railroads                                         48554
                           Transportation Equipment                          23855
                           Transportation and Logistics                      33237
                           Trucking, Truck Leasing                           35950
Wholesalers                Miscellaneous                                      8982
                           Wholesalers: Diversified                         176138
                           Wholesalers: Electronics and Office Equipment    147906
                           Wholesalers: Food and Grocery                    111774

                                                                           Profits  \
Sector                     Industry
Aerospace & Defense        Aerospace and Defense                             28742
Apparel                    Apparel                                            8236
Business Services          Advertising, marketing                             1549
                           Diversified Outsourcing Services                   4305
                           Education                                            69
                           Financial Data Services                           17456
                           Miscellaneous                                      2130
                           Temporary Help                                     1000
                           Waste Management                                   1718
Chemicals                  Chemicals                                         22628
Energy                     Energy                                           -13038
                           Mining, Crude-Oil Production                    -124555
                           Miscellaneous                                       476
                           Oil and Gas Equipment, Services                   -4047
                           Petroleum Refining                                31888
                           Pipelines                                          5814
                           Utilities: Gas and Electric                       30015
Engineering & Construction Engineering, Construction                          1765
                           Homebuilders                                       3539
Financials                 Commercial Banks                                 129760
                           Diversified Financials                            28548
                           Insurance: Life, Health (Mutual)                   5601
                           Insurance: Life, Health (stock)                   19731
                           Insurance: Property and Casualty (Mutual)          8031
                           Insurance: Property and Casualty (Stock)          44803
                           Real estate                                        9480
                           Securities                                        14255
Food and Drug Stores       Food and Drug Stores                              16759
Food, Beverages & Tobacco  Beverages                                         11698
                           Food Consumer Products                            19263
...                                                                            ...
Materials                  Metals                                            -2241
                           Miscellaneous                                         7
                           Packaging, Containers                              4445
Media                      Entertainment                                     25686
                           Publishing, Printing                              -1339
Motor Vehicles & Parts     Motor Vehicles and Parts                          25898
Retailing                  Automotive Retailing, Services                     2550
                           General Merchandisers                             20137
                           Specialty Retailers: Apparel                       4583
                           Specialty Retailers: Other                        20560
Technology                 Computer Peripherals                               3975
                           Computer Software                                 26457
                           Computers, Office Equipment                       58433
                           Information Technology Services                   16402
                           Internet Services and Retailing                   22232
                           Network and Other Communications Equipment        18907
                           Scientific,Photographic and Control Equipment      9346
                           Semiconductors and Other Electronic Components    24721
Telecommunications         Telecommunications                                48637
Transportation             Airlines                                          23800
                           Mail, Package, and Freight Delivery                5894
                           Miscellaneous                                       227
                           Railroads                                          9005
                           Transportation Equipment                           2438
                           Transportation and Logistics                        895
                           Trucking, Truck Leasing                            1910
Wholesalers                Miscellaneous                                        17
                           Wholesalers: Diversified                           5193
                           Wholesalers: Electronics and Office Equipment      1857
                           Wholesalers: Food and Grocery                      1166

                                                                           Employees
Sector                     Industry
Aerospace & Defense        Aerospace and Defense                              968057
Apparel                    Apparel                                            346397
Business Services          Advertising, marketing                             124100
                           Diversified Outsourcing Services                   708330
                           Education                                           46755
                           Financial Data Services                            264926
                           Miscellaneous                                       37720
                           Temporary Help                                      60020
                           Waste Management                                   119199
Chemicals                  Chemicals                                          463651
Energy                     Energy                                              70072
                           Mining, Crude-Oil Production                       149110
                           Miscellaneous                                        6700
                           Oil and Gas Equipment, Services                    225795
                           Petroleum Refining                                 244880
                           Pipelines                                           72141
                           Utilities: Gas and Electric                        420229
Engineering & Construction Engineering, Construction                          368104
                           Homebuilders                                        38604
Financials                 Commercial Banks                                  1539024
                           Diversified Financials                             329114
                           Insurance: Life, Health (Mutual)                    58801
                           Insurance: Life, Health (stock)                    202233
                           Insurance: Property and Casualty (Mutual)          133148
                           Insurance: Property and Casualty (Stock)           794123
                           Real estate                                        160579
                           Securities                                         142926
Food and Drug Stores       Food and Drug Stores                              1395398
Food, Beverages & Tobacco  Beverages                                          199107
                           Food Consumer Products                             665439
...                                                                              ...
Materials                  Metals                                             193559
                           Miscellaneous                                          52
                           Packaging, Containers                              333446
Media                      Entertainment                                      383564
                           Publishing, Printing                               166750
Motor Vehicles & Parts     Motor Vehicles and Parts                          1082560
Retailing                  Automotive Retailing, Services                     174974
                           General Merchandisers                             3408100
                           Specialty Retailers: Apparel                       770543
                           Specialty Retailers: Other                        1874012
Technology                 Computer Peripherals                               175259
                           Computer Software                                  388796
                           Computers, Office Equipment                        468085
                           Information Technology Services                    985639
                           Internet Services and Retailing                    430855
                           Network and Other Communications Equipment         299310
                           Scientific,Photographic and Control Equipment      231501
                           Semiconductors and Other Electronic Components     599504
Telecommunications         Telecommunications                                 832468
Transportation             Airlines                                           391601
                           Mail, Package, and Freight Delivery                664275
                           Miscellaneous                                        4200
                           Railroads                                          121844
                           Transportation Equipment                            59726
                           Transportation and Logistics                       124691
                           Trucking, Truck Leasing                            170456
Wholesalers                Miscellaneous                                        9200
                           Wholesalers: Diversified                           233831
                           Wholesalers: Electronics and Office Equipment      166661
                           Wholesalers: Food and Grocery                      115905

[79 rows x 3 columns]

In [32]:
sectors['Revenue'].sum()

Sector                      Industry
Aerospace & Defense         Aerospace and Defense                             357940
Apparel                     Apparel                                            95968
Business Services           Advertising, marketing                             22748
                            Diversified Outsourcing Services                   64829
                            Education                                           7485
                            Financial Data Services                           100778
                            Miscellaneous                                      11185
                            Temporary Help                                     34716
                            Waste Management                                   30454
Chemicals                   Chemicals                                         243897
Energy                      Energy                                             67749
                            Mining, Crude-Oil Production                      176435
                            Miscellaneous                                       3159
                            Oil and Gas Equipment, Services                    82827
                            Petroleum Refining                                705472
                            Pipelines                                         138756
                            Utilities: Gas and Electric                       343411
Engineering & Construction  Engineering, Construction                          99774
                            Homebuilders                                       54209
Financials                  Commercial Banks                                  623669
                            Diversified Financials                            327075
                            Insurance: Life, Health (Mutual)                  181336
                            Insurance: Life, Health (stock)                   245551
                            Insurance: Property and Casualty (Mutual)         143682
                            Insurance: Property and Casualty (Stock)          548027
                            Real estate                                        62748
                            Securities                                         85071
Food and Drug Stores        Food and Drug Stores                              483769
Food, Beverages & Tobacco   Beverages                                          79396
                            Food Consumer Products                            238954
                                                                               ...
Materials                   Metals                                             99925
                            Miscellaneous                                       6070
                            Packaging, Containers                             105965
Media                       Entertainment                                     186276
                            Publishing, Printing                               34488
Motor Vehicles & Parts      Motor Vehicles and Parts                          482540
Retailing                   Automotive Retailing, Services                    113823
                            General Merchandisers                             684320
                            Specialty Retailers: Apparel                      122975
                            Specialty Retailers: Other                        543958
Technology                  Computer Peripherals                               48950
                            Computer Software                                 179112
                            Computers, Office Equipment                       353781
                            Information Technology Services                   166067
                            Internet Services and Retailing                   259136
                            Network and Other Communications Equipment        125697
                            Scientific,Photographic and Control Equipment      65832
                            Semiconductors and Other Electronic Components    179025
Telecommunications          Telecommunications                                461834
Transportation              Airlines                                          158948
                            Mail, Package, and Freight Delivery               105816
                            Miscellaneous                                       2148
                            Railroads                                          48554
                            Transportation Equipment                           23855
                            Transportation and Logistics                       33237
                            Trucking, Truck Leasing                            35950
Wholesalers                 Miscellaneous                                       8982
                            Wholesalers: Diversified                          176138
                            Wholesalers: Electronics and Office Equipment     147906
                            Wholesalers: Food and Grocery                     111774
Name: Revenue, Length: 79, dtype: int64

In [33]:
sectors['Employees'].mean()

Sector                      Industry
Aerospace & Defense         Aerospace and Defense                              48402.850000
Apparel                     Apparel                                            23093.133333
Business Services           Advertising, marketing                             62050.000000
                            Diversified Outsourcing Services                   50595.000000
                            Education                                          15585.000000
                            Financial Data Services                            13943.473684
                            Miscellaneous                                      12573.333333
                            Temporary Help                                     12004.000000
                            Waste Management                                   23839.800000
Chemicals                   Chemicals                                          15455.033333
Energy                      Energy                                              5005.142857
                            Mining, Crude-Oil Production                        5325.357143
                            Miscellaneous                                       6700.000000
                            Oil and Gas Equipment, Services                    25088.333333
                            Petroleum Refining                                 14404.705882
                            Pipelines                                           6011.750000
                            Utilities: Gas and Electric                        10249.487805
Engineering & Construction  Engineering, Construction                          26293.142857
                            Homebuilders                                        3217.000000
Financials                  Commercial Banks                                   54965.142857
                            Diversified Financials                             21940.933333
                            Insurance: Life, Health (Mutual)                    5880.100000
                            Insurance: Life, Health (stock)                    11235.166667
                            Insurance: Property and Casualty (Mutual)          19021.142857
                            Insurance: Property and Casualty (Stock)           28361.535714
                            Real estate                                        10705.266667
                            Securities                                          7940.333333
Food and Drug Stores        Food and Drug Stores                               93026.533333
Food, Beverages & Tobacco   Beverages                                          22123.000000
                            Food Consumer Products                             33271.950000
                                                                                  ...
Materials                   Metals                                             13825.642857
                            Miscellaneous                                         52.000000
                            Packaging, Containers                              20840.375000
Media                       Entertainment                                      21309.111111
                            Publishing, Printing                               23821.428571
Motor Vehicles & Parts      Motor Vehicles and Parts                           45106.666667
Retailing                   Automotive Retailing, Services                     17497.400000
                            General Merchandisers                             340810.000000
                            Specialty Retailers: Apparel                       42807.944444
                            Specialty Retailers: Other                         44619.333333
Technology                  Computer Peripherals                               43814.750000
                            Computer Software                                  27771.142857
                            Computers, Office Equipment                        66869.285714
                            Information Technology Services                    75818.384615
                            Internet Services and Retailing                    28723.666667
                            Network and Other Communications Equipment         21379.285714
                            Scientific,Photographic and Control Equipment      19291.750000
                            Semiconductors and Other Electronic Components     26065.391304
Telecommunications          Telecommunications                                 55497.866667
Transportation              Airlines                                           43511.222222
                            Mail, Package, and Freight Delivery               332137.500000
                            Miscellaneous                                       4200.000000
                            Railroads                                          24368.800000
                            Transportation Equipment                           11945.200000
                            Transportation and Logistics                       24938.200000
                            Trucking, Truck Leasing                            18939.555556
Wholesalers                 Miscellaneous                                       9200.000000
                            Wholesalers: Diversified                            9353.240000
                            Wholesalers: Electronics and Office Equipment      20832.625000
                            Wholesalers: Food and Grocery                      19317.500000
Name: Employees, Length: 79, dtype: float64

# The .agg() Method

In [34]:
fortune = pd.read_csv('Codes/fortune1000.csv', index_col='Rank')
sectors = fortune.groupby(by='Sector')
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [37]:
sectors.agg({'Revenue' : ['sum', 'mean'], 'Profits' : 'sum', 'Employees' : 'mean'})

                              Revenue                   Employees Profits
                                  sum          mean          mean     sum
Sector
Aerospace & Defense            357940  17897.000000  48402.850000   28742
Apparel                         95968   6397.866667  23093.133333    8236
Business Services              272195   5337.156863  26687.254902   28227
Chemicals                      243897   8129.900000  15455.033333   22628
Energy                        1517809  12441.057377   9745.303279  -73447
Engineering & Construction     153983   5922.423077  15642.615385    5304
Financials                    2217159  15950.784173  24172.287770  260209
Food and Drug Stores           483769  32251.266667  93026.533333   16759
Food, Beverages & Tobacco      555967  12929.465116  28177.488372   51417
Health Care                   1614707  21529.426667  35710.520000  106114
Hotels, Resturants & Leisure   169546   6781.840000  99369.800000   20697
Household Products             234737   8383.464286  23072.785714   14428
Industrials                    497581  10816.978261  33591.934783   20764
Materials                      259145   6026.627907  14840.069767    4428
Media                          220764   8830.560000  22012.560000   24347
Motor Vehicles & Parts         482540  20105.833333  45106.666667   25898
Retailing                     1465076  18313.450000  77845.362500   47830
Technology                    1377600  13505.882353  35087.735294  180473
Telecommunications             461834  30788.933333  55497.866667   48637
Transportation                 408508  11347.444444  42688.694444   44169
Wholesalers                    444800  11120.000000  13139.925000    8233

In [36]:
sectors.agg(['size', 'sum', 'mean'])

                             Revenue                        Profits          \
                                size      sum          mean    size     sum
Sector
Aerospace & Defense               20   357940  17897.000000      20   28742
Apparel                           15    95968   6397.866667      15    8236
Business Services                 51   272195   5337.156863      51   28227
Chemicals                         30   243897   8129.900000      30   22628
Energy                           122  1517809  12441.057377     122  -73447
Engineering & Construction        26   153983   5922.423077      26    5304
Financials                       139  2217159  15950.784173     139  260209
Food and Drug Stores              15   483769  32251.266667      15   16759
Food, Beverages & Tobacco         43   555967  12929.465116      43   51417
Health Care                       75  1614707  21529.426667      75  106114
Hotels, Resturants & Leisure      25   169546   6781.840000      25   20697
Household Products                28   234737   8383.464286      28   14428
Industrials                       46   497581  10816.978261      46   20764
Materials                         43   259145   6026.627907      43    4428
Media                             25   220764   8830.560000      25   24347
Motor Vehicles & Parts            24   482540  20105.833333      24   25898
Retailing                         80  1465076  18313.450000      80   47830
Technology                       102  1377600  13505.882353     102  180473
Telecommunications                15   461834  30788.933333      15   48637
Transportation                    36   408508  11347.444444      36   44169
Wholesalers                       40   444800  11120.000000      40    8233

                                          Employees
                                     mean      size      sum          mean
Sector
Aerospace & Defense           1437.100000        20   968057  48402.850000
Apparel                        549.066667        15   346397  23093.133333
Business Services              553.470588        51  1361050  26687.254902
Chemicals                      754.266667        30   463651  15455.033333
Energy                        -602.024590       122  1188927   9745.303279
Engineering & Construction     204.000000        26   406708  15642.615385
Financials                    1872.007194       139  3359948  24172.287770
Food and Drug Stores          1117.266667        15  1395398  93026.533333
Food, Beverages & Tobacco     1195.744186        43  1211632  28177.488372
Health Care                   1414.853333        75  2678289  35710.520000
Hotels, Resturants & Leisure   827.880000        25  2484245  99369.800000
Household Products             515.285714        28   646038  23072.785714
Industrials                    451.391304        46  1545229  33591.934783
Materials                      102.976744        43   638123  14840.069767
Media                          973.880000        25   550314  22012.560000
Motor Vehicles & Parts        1079.083333        24  1082560  45106.666667
Retailing                      597.875000        80  6227629  77845.362500
Technology                    1769.343137       102  3578949  35087.735294
Telecommunications            3242.466667        15   832468  55497.866667
Transportation                1226.916667        36  1536793  42688.694444
Wholesalers                    205.825000        40   525597  13139.925000

# Iterating through Groups

In [38]:
fortune = pd.read_csv('Codes/fortune1000.csv', index_col='Rank')
sectors = fortune.groupby(by='Sector')
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [39]:
sectors['Profits'].max()

Sector
Aerospace & Defense              7608
Apparel                          3273
Business Services                6328
Chemicals                        7685
Energy                          16150
Engineering & Construction        803
Financials                      24442
Food and Drug Stores             5237
Food, Beverages & Tobacco        7351
Health Care                     18108
Hotels, Resturants & Leisure     5920
Household Products               7036
Industrials                      4833
Materials                         991
Media                            8382
Motor Vehicles & Parts           9687
Retailing                       14694
Technology                      53394
Telecommunications              17879
Transportation                   7610
Wholesalers                      1472
Name: Profits, dtype: int64

In [41]:
df = pd.DataFrame(columns=fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [42]:
for sector, data in sectors:
    highest_revenue_in_company = data.nlargest(1, 'Revenue')
    df = df.append(highest_revenue_in_company)

In [43]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330,419,27000
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114,413,38758
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702,1849,32300
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413,4529,420000
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
126,Alcoa,Materials,Metals,"New York, NY",22534,-322,60000
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [44]:
cities = fortune.groupby('Location')
df = pd.DataFrame(columns=fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [ ]:
for city, data in cities:
    highest = data.nlargest(1, 'Revenue')
    df = df.append